header{
    width: 100%;
    padding: 0px 20px 0px 20px;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
    color: $primary-normal;
}

.header-icons{
    display: flex;
    gap: 14px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $primary-red;
    }
}

@keyframes translateY {
    from{
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button {
    border: 1px solid $primary-normal;
    padding: 8px 24px;
    border-radius: 5px;
    color: $primary-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover {
    border: 1px solid $primary-red;
    background-color: $primary-red;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    max-height: 200px;
    width: auto;
    height: auto;
}

@media screen and (max-width: 768px) {
    .header-content {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    i{
        margin-top: 16px;
        font-size: 40px;
    }

    .header-logo {
        width: 160px;
        margin-top: 10px;
    }

    .header-button {
        display: none;
    }
}

